@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="HandleAddTaskRequest" method="post">
    <label for="DescriptionField">Описание задания</label>
    <input name="Description" id="DescriptionField">
    <input type="submit">
</form>
